.ContactList {
  table-layout: fixed;
  width: 98vw;
  max-width: 1300px;

  &_thead {
    &_tr {
      &_header {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ContactList {
    display: table;
    width: 100%;
    max-width: none;
  
    // Hide - use data-label instead on small screens.  See InteractiveCell.scss
    &_thead {
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }  
}
